// $primary: #efd126
  
@import "../node_modules/bulma/bulma.sass"

button
  white-space: normal !important
  height: auto !important
  &:not(.modal-close)
    @extend .button

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%))
  // For Google Chrome
  &::-webkit-scrollbar
    width:  $size
    height: $size

  &::-webkit-scrollbar-thumb
    background: $foreground-color

  &::-webkit-scrollbar-track
    background: $background-color

  // For Internet Explorer
  &
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color

// body
//   @include scrollbars(10px, $info, transparent)

.icon > *
  width: 100%

.modal
  padding: 2em

.modal-background
  position: fixed
  top: 0
  left: 0

.modal-close
  background: rgba(10, 10, 10, 0.5)
