// $primary: #efd126
  
@import "../node_modules/bulma/bulma.sass"

button
  white-space: normal !important
  height: auto !important
  &:not(.modal-close)
    @extend .button

h1, h2, h3, h4, h5, h6
  font-weight: $content-heading-weight
  line-height: $content-heading-line-height
  color: $content-heading-color

h1
  font-size: 2em
  margin-bottom: 0.5em
  &:not(:first-child)
    margin-top: 1em
h2
  font-size: 1.75em
  margin-bottom: 0.5714em
  &:not(:first-child)
    margin-top: 1.1428em
h3
  font-size: 1.5em
  margin-bottom: 0.6666em
  &:not(:first-child)
    margin-top: 1.3333em
h4
  font-size: 1.25em
  margin-bottom: 0.8em
h5
  font-size: 1.125em
  margin-bottom: 0.8888em
h6
  font-size: 1em
  margin-bottom: 1em

input
  @extend .input

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%))
  // For Google Chrome
  &::-webkit-scrollbar
    width:  $size
    height: $size

  &::-webkit-scrollbar-thumb
    background: $foreground-color

  &::-webkit-scrollbar-track
    background: $background-color

  // For Internet Explorer
  &
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color

// body
//   @include scrollbars(10px, $info, transparent)

.icon > *
  width: 100%

.modal
  padding: 2em

.modal-background
  position: fixed
  top: 0
  left: 0

.modal-close
  background: rgba(10, 10, 10, 0.5)

.pagination-list
  @include touch
    width: calc(100% - 4em)
    margin: 1em 2em
